/*! Exercise Metrics */

body {
  background-color: #eeeeee;
  font-family: sans-serif;
}

section {
  padding: 2rem;
}

.btn-update {
  background-color: rgb(0, 100, 255);
  color: #ffffff;
  padding: 1.5rem;
}

.chart-area {
  background-color: #ffffff;
}

.data-input {
  border: 1px solid #000000;
  font-family: monospace;
  height: 50rem;
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
}

.instructions {
  margin-bottom: 1rem;
}

.limit-entries {
  padding: .2em;
  text-align: center;
  width: 3em;
}
